@media only screen and (max-width: 600px) {
	.projectOne {
		border: solid black;
	}
	.projectTwo {
		border: solid black;
	}
	.projectThree {
		border: solid black;
	}
	.projectFour {
		border: solid black;
	}
	.projectFive {
		border: solid black;
	}
	.projectTabTitle {
		font-size: 50px;
		color: purple;
	}
	.spacemanBack {
		height: 400px;
	}
	.spacemanFront {
		height: 400px;
	}
	.beer30Front {
		height: 400px;
	}
	.beer30Back {
		height: 400px;
	}
	.atfFront {
		height: 400px;
	}
	.atfBack {
		height: 400px;
	}
	.pmpFront {
		height: 400px;
	}
	.pmpBack {
		height: 400px;
	}
	.stFront {
		height: 400px;
	}
	.stBack {
		height: 400px;
	}
}
