.projectOne {
	border: solid 1px black;
	flex: 1;
}
.projectTwo {
	border: solid 1px black;
	flex: 1;
}
.projectThree {
	border: solid 1px black;
	flex: 1;
}
.projectFour {
	border: solid 1px black;
	flex: 1;
}
.projectFive {
	border: solid 1px black;
	flex: 1;
}
.projectTabTitle {
	color: purple;
	font-family: 'Anton', sans-serif;
}
.spacemanBack {
	height: 400px;
	width: 360px;
}
.spacemanFront {
	height: 400px;
	width: 360px;
}
.beer30Front {
	height: 400px;
	width: 360px;
}
.beer30Back {
	height: 400px;
	width: 360px;
}
.atfFront {
	height: 400px;
	width: 360px;
}
.atfBack {
	height: 400px;
	width: 360px;
}
.pmpFront {
	height: 400px;
	width: 360px;
}
.pmpBack {
	height: 400px;
	width: 360px;
}
.stFront {
	height: 400px;
	width: 360px;
}
.stBack {
	height: 400px;
	width: 360px;
}
.projectTitle {
	color: purple;
	font-family: 'Anton', sans-serif;
}
.projectButton {
	color: white;
	background-color: purple;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.projectImage {
	border-radius: 25%;
	height: 250px;
	width: 250px;
}
.spacemanDeployed {
	margin: auto;
	font-size: 40px;
}
.spacemanGitHub {
	margin: auto;
	justify-content: center;
}
.beer30Deployed {
	margin: auto;
	font-size: 40px;
}
.beer30GitHub {
	margin: auto;
}
.atfDeployed {
	margin: auto;
	font-size: 40px;
}
.atfGitHub {
	margin: auto;
}
.pmpDeployed {
	margin: auto;
	font-size: 40px;
}
.pmpGitHub {
	margin: auto;
	font-size: 20px;
	flex: 1;
	width: 100px;
}
.stDeployed {
	margin: auto;
	font-size: 40px;
}
.stGitHub {
	margin: auto;
}
.technologies {
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	color: purple
}

.projectsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pmpGitHubContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pmpGitHubLogo {
	height: 150px;
	width: 150px;
}

.gitHubLogo {
	height: 200px;
	width: 250px;
}

@media only screen and (max-width: 600px) {
	.projectTabTitle {
		font-size: 50px;
	}
}

@media only screen and (min-width: 600px) {
	.projectTabTitle {
		font-size: 60px;
	}
}

@media only screen and (min-width: 768px) {
	.projectTabTitle {
		font-size: 80px;
	}
}