p {
    color: purple;
    font-family: 'Felipa', cursive;
    border: solid 1px black;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.aboutTitle {
    color: purple;
    font-family: 'Anton', sans-serif;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 30px;
    }
    .aboutTitle {
        font-size: 50px;
    }
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 40px;
    }
    .aboutTitle {
        font-size: 60px;
    }
}

@media only screen and (min-width: 768px) {
    p {
        font-size: 50px;
    }
    .aboutTitle {
        font-size: 80px;
    }
}