span {
    padding-left: 10px;
    font-size: 25px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    span {
        font-size: 25px;
    }
}

@media only screen and (min-width: 600px) {
    span {
        font-size: 30px;
        padding-left: 20px;
    }
}

