.headshot {
	height: 300px;
	width: 300px;
}

img {
	border-radius: 50%;
	align-items: center;
}

.intro {
	font-size: 80px;
	color: purple;
	font-family: 'Germania One', cursive;
}

@media only screen and (max-width: 600px) {
	.intro {
		font-size: 50px;
	}
}

@media only screen and (min-width: 600px) {
	.intro {
		font-size: 60px;
	}
}

@media only screen and (min-width: 768px) {
	.intro {
		font-size: 70px;
	}
}