.headshot {
    height: 300px;
    width: 300px;

}

img {
    border-radius: 50%;
    align-items: center;
}

.intro {
    font-size: 80px;
    color: purple;
    font-family: 'Germania One', cursive;
}
