.headerDiv {
    border: solid 1px black;
    background-color: purple;
}

.name {
    color: white;
    font-family: 'Anton', sans-serif;
}

.title {
    color: white;
    font-family: 'Anton', sans-serif;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 40px;
        text-align: center;
    }

    .title {
        font-size: 40px;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .name {
        font-size: 70px;
        text-align: center;
    }
    .title {
        font-size: 70px;
        text-align: center;
    }
}

